---
- name: Pull docker image of Calculator
  hosts: all
  tasks:
    - name: sudo Start docker service
      service:
        name: docker
        state: started
        
    - name: pull docker image
      shell: docker pull docker.io/yasha145/dockerproject_1:latest

    - name: running container
      shell: docker run -it -d yasha145/dockerproject_1:latest /bin/bash
